<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %X{correlation_id} %clr(---){faint} %clr([%20.20t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wex"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <logger name="com.dataexchange.client" level="debug"/>
    <logger name="org.springframework" level="info"/>
    <logger name="org.springframework.integration" level="debug"/>

    <logger name="org.springframework.integration.sftp" level="trace"/>

    <logger name="org.springframework.integration.endpoint.PollingConsumer" level="info"/>


    <root level="${logback.root.level:-info}">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>